.git
.idea
/docker/postgresql/data/
/docker/redis/data/

# Cache, session files and log
/var/
!var/cache/.gitkeep
!var/log/.gitkeep
!var/sessions/.gitkeep

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
###< symfony/framework-bundle ###

# Managed by Composer
/vendor/

# Assets and user uploads
/public/bundles/

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
